<html>
    <head>
        <title> Gothons of planet percal #25 </title>
    </head>

    <body>
        <p>
        I just want to say <em><%=greeting%> ,<%=name %></em>.
        </p>
    </body>
</html>
